

.authorCard {
  display: flex;
  justify-content: space-around;
  padding: 5px;

}

.paper :hover{
  color: aqua;
}
.authorList {
  display: flex;
  flex-direction: column;
}

.authorTitle {
  font-weight: bold;
}

.FollowAuthor {
  width: 200px;
}